footer {
  padding-left: 5%;
  background-color: #353535;
}

footer h2 {
  margin: 0;
  padding: 0;
}

.footer-logo {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 120px;
  filter: invert(100%);
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 15px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-icon {
  margin-right: 5px;
  width: 20px;
}