@import "components/_variables.scss";

body {
  background-color: $background-secondary;
}

header {
  background-color: white;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;

    i {
      font-size: 20px;
      margin-left: calc(10px - 100%);
    }
  }
}

#menu {
  border-radius: 30px;
  transform: translate(0, -36px);
  background-color: $background-secondary;
}

.menu {

  &-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    &-text {
      font-family: "Shrikhand", cursive;
      font-size: 24px;
    }

    &-icon {
      padding-right: 15px;
      position: absolute;
      right: 15px;

        &:hover {
            cursor: pointer;
        }
    }
  }

  &-title {
    &-text {
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 10px;
    }

    &-line {
      height: 2px;
      width: 42px;
      color: #99E2D0;
      background: #99E2D0;
      border: none;
    }
  }

  &-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  $menu-item-delay: 0.1s;
  $menu-item-count: 4;

  &-li {
    display: flex;
    justify-content: space-between;
    background-color: $background-quaternary;
    border-radius: 20px;
    padding: 20px;
    height: 32px;
    box-shadow: 0 5px 5px 2px rgba(186, 186, 186, 0.432);

    opacity: 0;

    @for $i from 1 through $menu-item-count {
      &:nth-child(#{$i}) {
        animation: fade-in 2s ($i * $menu-item-delay + 0.5s) forwards ease-out;
      }
    }

    &-title {
      white-space: nowrap;
      overflow: clip;
      text-overflow: ellipsis;
    }

    &-subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-text {
        font-size: 13px;
        font-weight: 300;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-price {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  @keyframes fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.btn {
  text-decoration: none;
  margin: auto;
  padding: 14px 50px;
  color: $btn-font;
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 15px 2px rgba(186, 186, 186, 0.432);
  background: $btn-gradient;

  &:hover {
    background: lighten($color-primary, 10%);
    box-shadow: 0 0 15px 7px rgba(153, 153, 153, 0.246);
    transition: box-shadow 0.2s ease-in-out;
  }
}
