#Restaurants {
  background-color: $background-quaternary;
  padding-bottom: 50px;
}

.restaurants {
  &-header {
    padding-top: 20px;
  }

  &-li {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding-top: 20px;
  }

  &-link {
    box-shadow: 0 5px 5px 2px rgba(186, 186, 186, 0.432);
    border-radius: 30px;
  }

  &-card {
    &-img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    &-bottom {
      padding: 12px;
      background-color: $background-primary;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      height: 50px;
      position: relative;
    }

    &-header {
      padding: 0 5px 5px;
    }

    &-subtitle {
      padding: 0 5px 5px;
    }

    &-badge {
      float: right;
      margin-top: -240px;
      vertical-align: top;
      background-color: #99E2D0;
      color: #278870;
      font-size: 14px;
      padding: 5px 3px 5px 14px;
      width: 65px;
      border-radius: 2px;
      font-weight: 600;
      position: absolute;
      right: 5%;
    }

    &-icon {
      float: right;
      margin-top: -40px;
      margin-right: 10px;
      font-size: 25px;
    }
  }
}
