$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background-primary: white;
$background-secondary: rgb(236, 236, 236);
$background-tertiary: rgb(233, 220, 248);
$background-quaternary: hsl(0, 0%, 96%);

$btn-font: white;
$btn-gradient: linear-gradient(355deg, $color-primary 0%, $color-secondary 100%);

$color-icon: #747474;